<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="katana_product_import_after">
        <observer name="katana_import_image_cleanup" instance="Itonomy\Katanapim\Observer\ImageCleanupObserver" />
    </event>
</config>
